integrations {

  button{
    max-height: 30px;
    //padding: 15px !important;
    border-radius: 30px !important;
    background-color: transparent !important;
    background-image: linear-gradient(to right, color($colors, gradientRed), color($colors, gradientOrange)) !important;
  }

  img {
    max-height: 30px;
  }

}
