<!-- Generated template for the IntegrationsComponent component -->


<ion-grid>

  <ion-item-group>
    <ion-item margin-top>
      <ion-row col-12 justify-content-center align-items-center>
        <ion-col col-6>
          <img src="../../assets/imgs/confluence.png">
        </ion-col>

        <ion-col col-6 text-right>
          <button ion-button icon-center>
            <ion-icon color="light" name="md-arrow-forward"></ion-icon>
          </button>
        </ion-col>

        <ion-col col-12 text-left><p>Link naar de wiki</p></ion-col>
      </ion-row>
    </ion-item>


    <ion-item margin-top>
      <ion-row col-12 justify-content-center align-items-center>
        <ion-col col-6>
          <img src="../../assets/imgs/google-docs.png">
        </ion-col>

        <ion-col col-6 text-right>
          <button ion-button icon-center>
            <ion-icon color="light" name="md-arrow-forward"></ion-icon>
          </button>
        </ion-col>

        <ion-col col-12 text-left><p>Link naar documentatie</p></ion-col>
      </ion-row>
    </ion-item>


  </ion-item-group>


</ion-grid>
