page-login {

  ion-content {
    position: relative;
    background-image: url("../../assets/imgs/background.svg"), linear-gradient(to right bottom, white, #FACAA3);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.3) !important;

  }

  ion-content::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.3) !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}


