<!-- Generated template for the InputReactionComponent component -->
<div class="form" id="input-message">
  <ion-row justify-content-center align-items-center>
    <ion-col col-10>
      <ion-row col-12>
        <ion-list>
          <ion-item col-12 justify-content-end class="no-border">
            <input type="range" min="0" max="10" step="5" class="slider slider-proceed" [(ngModel)]="sentiment">
          </ion-item>

          <ion-item col-12 id="input-bar">
            <ion-input type="text" placeholder="Reactie plaatsen" [(ngModel)]="message"
                       (keydown.enter)="submit()"></ion-input>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-col>

    <ion-col col-2 id="button">
      <button ion-button icon-center (click)="submit()" text-right align-self-center>
        <ion-icon color="light" name="md-arrow-forward"></ion-icon>
      </button>
    </ion-col>

  </ion-row>

</div>
