input-reaction {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid color($colors, bordercolor);
  z-index: 1000 !important;
  background-color: white;

  #button {
    button{
      max-height: 40px;
      border-radius: 100% !important;
      background-color: transparent !important;
      background-image: linear-gradient(to right, color($colors, gradientRed), color($colors, gradientOrange)) !important;
    }
  }

  #input-bar{
    border: 1px solid color($colors, bordercolor);;
    border-radius: 30px !important;
    background-color: color($colors, search);
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 30px;
    background-image: linear-gradient(to right, color($colors, against), color($colors, approve));
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider-against::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 30px;
    background: url('../../assets/icon/smiley-against.svg') center no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
  }

  .slider-against::-moz-range-thumb {
    width: 25px;
    height: 30px;
    background: url('../../assets/icon/smiley-against.svg') center no-repeat;
    cursor: pointer;
  }

  .slider-proceed::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 30px;
    background: url('../../assets/icon/smiley-proceed.svg') center no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
  }

  .slider-proceed::-moz-range-thumb {
    width: 25px;
    height: 30px;
    background: url('../../assets/icon/smiley-proceed.svg') center no-repeat;
    cursor: pointer;
  }

  .no-border .item-inner {
    border-bottom: 0!important;
  }

}
