reactions {
  ion-avatar {
    margin-top: 0 !important;
  }

  h2, h3 {
    color: color($colors, grey);
  }

  ion-item {
    padding: 0 !important;
  }

  ion-item-group {
    padding-left: 16px;
    padding-right: 16px;
  }

  .label {
    padding: 5px 0;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 30px;
    background-image: linear-gradient(to right, color($colors, against), color($colors, approve));
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider-against::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 30px;
    background: url('../../assets/icon/smiley-against.svg') center no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
  }

  .slider-against::-moz-range-thumb {
    width: 25px;
    height: 30px;
    background: url('../../assets/icon/smiley-against.svg') center no-repeat;
    cursor: pointer;
  }

  .slider-proceed::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 30px;
    background: url('../../assets/icon/smiley-proceed.svg') center no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
  }

  .slider-proceed::-moz-range-thumb {
    width: 25px;
    height: 30px;
    background: url('../../assets/icon/smiley-proceed.svg') center no-repeat;
    cursor: pointer;
  }

  .no-border .item-inner {
    border-bottom: 0!important;
  }

}
