<!-- Generated template for the ReactionsComponent component -->
<!-- Generated template for the QuestionsComponent component -->
<ion-grid>


  <ion-item-group>

    <ion-item margin-top *ngFor="let reaction of reactions | async">
      <ion-row>

        <ion-col col-2>
          <ion-avatar item-start>
            <img [src]="reaction.senderUID.photoURL">
          </ion-avatar>
        </ion-col>

        <ion-col col-6 margin-right>
          <h2>{{reaction.senderUID.displayName}}</h2>
          <h3>Reactie</h3>
        </ion-col>

        <ion-item col-3 justify-content-end class="no-border">
          <input type="range" min="0" max="10" [value]="reaction.sentiment.toString()" class="slider slider-proceed">
        </ion-item>

        <ion-col offset-2 col-10><p>{{reaction.messageText}}</p></ion-col>

      </ion-row>
    </ion-item>


  </ion-item-group>


</ion-grid>

