<ion-tabs>
  <ion-tab [tabsHideOnSubPages]="true" [root]="tab1Root" tabTitle="Home" tabIcon="md-home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Voorstellen" tabIcon="custom-propose"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Notificaties" tabIcon="md-notifications" tabBadge="3"></ion-tab>
</ion-tabs>
