questions {

  ion-avatar {
    margin-top: 0 !important;
  }

  h2 {
    color: color($colors, primary);
  }

  h3 {
    color: color($colors, grey);
  }

  ion-item {
    padding: 0 !important;
  }

  ion-item-group {
    padding-left: 16px;
    padding-right: 16px;
  }

 /* .item-inner {
    padding: 0 !important;
  }
*/

}
