<!-- Generated template for the QuestionsComponent component -->
<ion-grid>

  <ion-item-group>

    <ion-item margin-top  class="message" *ngFor="let message of messages | async">
      <ion-row>
        <ion-col col-auto>
          <ion-avatar item-start>
            <img [src]="message.senderUID.photoURL">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <h2>{{message.senderUID.displayName}}</h2>
          <h3>Ophelderende vraag</h3>
          <p margin-top>{{message.messageText}}</p>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-item-group>

</ion-grid>
