
<!-- Generated template for the InputQuestionComponent component -->
<div class="form" id="input-message">
  <ion-row margin-top justify-content-center align-items-center>

    <ion-col col-10>
      <ion-list radio-group [(ngModel)]="vote">
        <ion-item>
          <ion-label>Doorgaan met voorstel</ion-label>
          <ion-radio [value]="true" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Niet doorgaan met voorstel</ion-label>
          <ion-radio [value]="false"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col id="button" col-2>
      <button ion-button icon-center (click)="submit()" text-right align-self-center>
        <ion-icon color="light" name="md-arrow-forward"></ion-icon>
      </button>
    </ion-col>

  </ion-row>

</div>
