<!--
  Generated template for the ProposeDetailPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-list>
  <ion-list-header>Opties</ion-list-header>
  <button ion-item (click)="nextPhase()">Naar de volgende fase</button>
  <button ion-item (click)="previousPhase()">Naar de vorige fase</button>
  <button ion-item (click)="stopProject()">Voorstel stoppen</button>
</ion-list>
