<ion-header>
  <ion-navbar color="light">

    <ion-title center>Voorstellen</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-toolbar color="light">

    <ion-segment>
      <ion-searchbar placeholder="Zoek voorstel"></ion-searchbar>
    </ion-segment>


    <ion-segment id="tabsSegmentHome" [(ngModel)]="selected" margin-top padding-top>
      <ion-segment-button value="my" (click)="showMyProposals()">
        Mijn voorstellen
      </ion-segment-button>
      <ion-segment-button value="all" (click)="showAllProposals()" selected>
        Alle
      </ion-segment-button>
      <ion-segment-button value="done">
        Klaar
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding-top *ngIf="proposals">

  <ion-grid>
    <ion-row id="proposals">
      <ion-list col-12 margin-top>

        <ion-item-sliding class="item" *ngFor="let proposal of proposals | async">

          <ion-item>
            <ion-row>
              <ion-col id="avatar" col-2>
                <img class="circle-pic" [src]="proposal.proposer.photoURL">
                <!--[src]="dataService.proposerPhotoUrl"-->
              </ion-col>

              <ion-col id="text" col-8>
                <p text-wrap>{{proposal.proposer.displayName}}</p>
                <h2 text-wrap>{{proposal.title}}</h2>
                <p text-wrap>{{proposal.proposal}}</p>

                <ion-row class="notes">
                  <ion-note col-4>
                    <ion-icon name="ios-people-outline"></ion-icon>
                    {{proposal.members.length}}
                  </ion-note>
                  <ion-note col-8>
                    <ion-icon name="ios-time-outline"></ion-icon>
                    {{ proposal.date.toDate() | date:'dd MMMM' }}
                    <!-- {{ project.date | date }}-->
                  </ion-note>

                </ion-row>
              </ion-col>

              <ion-col id="button" col-2 text-right align-self-center>
                <button ion-button icon-center (click)="itemSelected(proposal.projectId)">
                  <ion-icon color="light" name="md-arrow-forward"></ion-icon>
                </button>
              </ion-col>

            </ion-row>
          </ion-item>
          <ion-item-options side="right">
            <button color="danger" ion-button (click)="delete(proposal.projectId)">Delete</button>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>
    </ion-row>
  </ion-grid>

</ion-content>
