page-home {
   ion-item{
     padding-left: 0 !important;
   }

  .item-inner{
    padding-right: 0 !important;
  }

  ion-note{
    font-size: smaller;

    ion-icon {
      margin-right: 5px;
    }
  }
  .notes {
    padding-top: 3px;
  }

  #avatar{
    ion-avatar { width: 25% !important;}
    margin: 0;

    img {
      border: double 2px transparent;
      border-radius: 80px;
      background-image: linear-gradient(white, white), radial-gradient(circle at top left, color($colors, gradientRed), color($colors, gradientOrange));
      background-origin: border-box;
      background-clip: content-box, border-box;
      //max-height: 30px;
      max-width: 80%;
    }
  }

  #text {
    overflow: hidden;

    h2 {
      color: color($colors, primary);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      //font-size: 1.3rem;
    }

    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      //font-size: 1rem;
    }

    //width: 60% !important;
  }

  #button {
    button{
      max-height: 30px;
      max-width: 10px;
      //padding: 15px !important;
      border-radius: 30px !important;
      background-color: transparent !important;
      background-image: linear-gradient(to right, color($colors, gradientRed), color($colors, gradientOrange)) !important;
    }
  }

ion-toolbar{
  padding-bottom: 0!important;
  //border-bottom: 2px !important;
}
  #tabsSegmentHome {
    ion-segment-button {
      border-bottom: transparent;
      color: color($colors, secondary);

    }

    .segment-activated {
      border-bottom: 1px solid color($colors, primary) !important;
      color: color($colors, primary);
    }
  }

  /*#proposals {
    margin-top: 170px;
  }*/

}
