// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

//$tabs-background:  #FCFCFC;
$font-family-ios-base: "Roboto", sans-serif;
$font-family-md-base: "Roboto", sans-serif;
$font-family-wp-base: "Roboto", sans-serif;

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, ion-label {
  font-family: "Montserrat", sans-serif;
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #FD7203,
  secondary: #666666,
  danger: #f53d3d,
  light: #FCFCFC,
  dark: #666666,
  bordercolor: #D3D8E0,
  grey: #D3D8E0,
  search: whitesmoke,
  against: #FACAA3,
  approve: #A4D7BD,
  gradientOrange: #FACAA3,
  gradientRed: #FF9DAE,
  tabs: (
    base: #666666,
    contrast: #FD7203
  )
);

$tabs-background: color($colors, light);
$tabs-border-color: color($colors, bordercolor);
$segment-button-md-border-color-activated: color($colors, primary);
$segment-button-md-text-color-activated: color($colors, primary);
$segment-button-wp-border-color-activated: color($colors, primary);
$segment-button-wp-text-color-activated: color($colors, primary);
$segment-button-ios-text-color: #666666;
$searchbar-ios-input-background-color: color($colors, search);
$searchbar-wp-input-background-color: color($colors, search);
$searchbar-md-input-background-color: color($colors, search);
$searchbar-md-input-border-radius: 30px;
$searchbar-wp-input-border-radius: 30px;
$searchbar-md-input-box-shadow: 0px; //0 2px 2px 0 rgba(0, 0, 0, .2), 0 1px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .2);

#tabsSegmentHome {
  color: #666666;
  border-top: 1px solid color($colors, bordercolor);
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

ion-label {

}

ion-content {
  padding: 0 !important
}

.scroll-content {
  padding: 0 !important;
}

.circle-pic {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

ion-note {
  color: color($colors, secondary)
}

ion-grid{
  padding: 0 !important;
}

ion-card{
  margin: 0 !important;
  width: auto !important;
}

p {
  color: color($colors, secondary) !important;
}
/*$gradients : (
  gradient:   linear-gradient(to right, #FD7203 , #FF9DAE)
);*/

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
