steps {
  background-color: #f8f8f8;
  #steps {
    border-top: 1px solid color($colors, bordercolor);
    height: auto;
  }
  ion-segment {
    ion-row{
      position: relative;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  #line {
    position: absolute;
    background: color($colors, bordercolor);
    height: 2px;
    left: 3%;
    width: 95%;
    top: 50%;
  }

  .outer-circle {
    background: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: relative;
    border: 1px solid color($colors, bordercolor);
    /*
     Child elements with absolute positioning will be
     positioned relative to this div
    */
  }

  .inner-circle {
    position: absolute;
    background-color: color($colors, bordercolor);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: 50%;
    left: 50%;
    margin: -10px 0px 0px -10px;
    /*
     minus half of the width and minus half of the height
    */
  }

  .inner-circle-selected {
    position: absolute;
    background-image: linear-gradient(to right bottom, color($colors, gradientRed), color($colors, gradientOrange));
    border-radius: 50%;
    height: 20px;
    width: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.15);
    top: 50%;
    left: 50%;
    margin: -10px 0px 0px -10px;
    /*
     minus half of the width and minus half of the height
    */
  }
}
