<!-- Generated template for the StepsComponent component -->
<ion-toolbar color="light">
  <ion-grid>
    <ion-row justify-content-center col-12 id="steps">
      <ion-segment col-8>
        <ion-row col-12>
          <span id="line"></span>
          <ion-col col-6>
            <div col-12 class="outer-circle" float-left>
              <div class="inner-circle-selected"></div>
            </div>
          </ion-col>
          <ion-col col-2>
            <div class="outer-circle" float-right>
              <div class="inner-circle"></div>
            </div>
          </ion-col>
          <ion-col col-2>
            <div class="outer-circle" float-right>
              <div class="inner-circle"></div>
            </div>
          </ion-col>
          <ion-col col-2>
            <div class="outer-circle" float-right>
              <div class="inner-circle"></div>
            </div>
          </ion-col>
        </ion-row>

      </ion-segment>
    </ion-row>
  </ion-grid>

</ion-toolbar>
