<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (tap)="onClickBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Voorstel</ion-title>
    <ion-buttons end *ngIf="project | async as project">
      <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event, project.step)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-buttons>

  </ion-navbar>
  <steps></steps>

</ion-header>

<ion-content>

  <div id="proposeCard" *ngIf="project | async as project">

    <ion-grid>
      <ion-row col-12 align-items-center justify-content-center>
        <div  padding-top>

          <ion-card>
            <ion-item>

              <!--*ngIf="member == 'proposer'"-->

              <div *ngIf="userRole | async as role">
                <ion-row col-12 id="EditBar" justify-content-end>
                  <button ion-button icon-start color="gradientRed" small outline margin-right
                          *ngIf="role.toString() == 'proposer'">
                    <ion-icon name="ios-create-outline"></ion-icon>
                    <ion-note>Stoppen</ion-note>
                  </button>
                  <button ion-button icon-start color="secondary" small outline *ngIf="role.toString() == 'proposer'">
                    <ion-icon name="ios-create-outline"></ion-icon>
                    <ion-note>Bewerk</ion-note>
                  </button>
                </ion-row>
              </div>


              <ion-row col-12>
                <ion-col col-auto>
                  <div id="userImage" item-start>
                    <img class="circle-pic" [src]="project.proposer.photoURL">
                  </div>
                </ion-col>
                <ion-col>
                  <ion-row><h1>{{ project.proposer.displayName }}</h1></ion-row>
                  <ion-row>
                    <ion-note col-4>
                      <ion-icon name="ios-create-outline"></ion-icon>
                      {{ project.version }}
                    </ion-note>
                    <ion-note col-7>
                      <ion-icon name="ios-time-outline"></ion-icon>
                      {{ project.date.toDate() | date:'dd MMMM' }}
                    </ion-note>
                  </ion-row>
                </ion-col>
              </ion-row>

            </ion-item>

            <ion-card-content>
              <div id="proposeContent">
                <ion-row>
                  <h2 col-12>Nu:</h2>
                  <p col-12>{{project.now}}</p>
                </ion-row>
                <ion-row>
                  <h2 col-12>Gewenst:</h2>
                  <p col-12>{{project.desirable}}</p>
                </ion-row>
                <ion-row>
                  <h2 col-12>Voorstel:</h2>
                  <p col-12>{{project.proposal}}</p>
                </ion-row>
              </div>
            </ion-card-content>

            <div *ngIf="project.step == 'clarify'">
              <ion-row margin-top text-center class="organizeResponses">
                <ion-col col-6>
                  <button ion-button icon-start clear small>
                    <ion-icon color="secondary" name="ios-chatbubbles-outline"></ion-icon>
                    <ion-note>Ophelderende vragen</ion-note>
                  </button>
                </ion-col>
              </ion-row>
            </div>

            <div *ngIf="project.step == 'comment'">
              <ion-row margin-top text-center class="organizeResponses">
                <ion-col col-6>
                  <button ion-button icon-start clear small>
                    <ion-icon color="secondary" name="ios-chatbubbles-outline"></ion-icon>
                    <ion-note>Reacties op voorstel</ion-note>
                  </button>
                </ion-col>
              </ion-row>
            </div>

            <div *ngIf="project.step == 'vote'">
              <ion-row id="organizeResponsesComment" class="organizeResponses" margin-top text-center>
                <ion-col col-6>
                  <button ion-button icon-start clear small>
                    <ion-icon color="approve" name="ios-chatbubbles-outline"></ion-icon>
                    <ion-note>Doorgaan</ion-note>
                  </button>
                </ion-col>
                <ion-col col-6>
                  <button ion-button icon-start clear small>
                    <ion-icon color="against" name="ios-chatbubbles-outline"></ion-icon>
                    <ion-note>Tegen</ion-note>
                  </button>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>

        </div>
      </ion-row>
    </ion-grid>

    <div>

      <div *ngIf="project.step == 'clarify'">
        <questions></questions>
      </div>

      <div *ngIf="project.step == 'comment'">
        <reactions></reactions>
      </div>

      <div *ngIf="project.step == 'vote'">
        <votes></votes>
      </div>

      <div *ngIf="project.step == 'integrate'">
        <integrations></integrations>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer>
  <div *ngIf="project | async as project">

    <div *ngIf="project.step == 'clarify'">
      <input-question></input-question>
    </div>

    <div *ngIf="project.step == 'comment'">
      <input-reaction></input-reaction>
    </div>

    <div *ngIf="project.step == 'vote'">
      <input-vote></input-vote>
    </div>

  </div>
</ion-footer>
