page-propose-detail {

  .scroll-content {
    padding-bottom: 300px !important;
    //position: relative;
  }

  button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    display: none;
  }

  ion-row#proposals {
    margin-top: 180px!important;
  }

  #moreButton{
    height: 20px;
  }
  #proposeCard {
    //background: color($colors, light);
    ion-card {
      background: color($colors, light);
      ion-item {
        background-color: color($colors, light);
        padding: 0 10px;
      }

      ion-card-content {
        padding: 0 10px;
      }
    }
    ion-row:first-child {
      padding: 0;
    }

  }

  #proposeContent {
    .row:not(:first-child) {
      margin-top: 16px;
    }
    h2 {
      color: color($colors, primary);
    }
  }

  .organizeResponses {
    border-top: solid 1px color($colors, bordercolor);
    button {
      ion-note {
        font-size: 14px;
      }
    }
  }

  #organizeResponsesComment {
    ion-col:first-child {
      border-right: solid 1px color($colors, bordercolor);
    }
  }

  #EditBar {
    padding: 0;
    ion-row {
      padding: 0;
    }
    ion-col {
      padding-right: 0;
    }
  }

  #userImage {
    margin: 0;

    img {
      border: double 3px transparent;
      border-radius: 80px;
      background-image: linear-gradient(white, white), radial-gradient(circle at top left, color($colors, gradientRed), color($colors, gradientOrange));
      background-origin: border-box;
      background-clip: content-box, border-box;
      max-height: 50px;
      max-width: 50px;
    }

  }

  ion-content{
    padding-bottom: 100px;
    position: relative;
  }

  /*ion-row#proposals {
    margin-top: 300px;
  }*/
}
