<!-- Generated template for the GoogleLoginComponent component -->
<div *ngIf="(authService.user | async) || {} as user">

  <ion-grid>

    <ion-row id="intoLogin" col-12 align-items-center justify-content-center>
      <div col-4 class="iconPropose">
        <ion-icon id="iconLogin" name="custom-propose"></ion-icon>
      </div>
    </ion-row>


    <div *ngIf="user.uid">

      <ion-row col-12 align-items-center justify-content-center>
        <ion-list col-10>
          <ion-item>
            <ion-avatar item-start>
              <img [src]="user.photoURL">
            </ion-avatar>
            <h2>{{user.displayName}}</h2>
            <p>Is dit uw account?</p>
          </ion-item>
        </ion-list>

        <button ion-button (tap)="goToApp()" col-10 round class="main">
          Naar app
        </button>

        <button ion-button color="secondary" (tap)="authService.signOut()" col-4 clear text-center>
          Uitloggen
        </button>

      </ion-row>

    </div>

  </ion-grid>


  <ion-grid>
    <div *ngIf="!user.uid">
      <ion-row col-12 align-items-center justify-content-center>

        <button ion-button (tap)="googleLogin()" round col-8>
          Login met Google
        </button>

      </ion-row>
    </div>
  </ion-grid>

</div>
