google-login {

  button.main {
    background-color: transparent !important;
    background-image: linear-gradient(to right, color($colors, gradientRed), color($colors, primary)) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
  .item-md {
    background-color: transparent;
    color: white !important;
    p {
      color: color($colors, secondary) !important;
    }
  }

  h1 {
    color: white;
  }

  #intoLogin {
    height: 60vh;

    .iconPropose {
      height: 30%;
    }

    #iconLogin {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, white 70%, #FACAA3);
    }
  }

}
