<!-- Generated template for the QuestionsComponent component -->
<ion-grid>

  <ion-item-group>

    <ion-item margin-top *ngFor="let vote of votes | async">
      <ion-row>

        <ion-col col-2>
          <ion-avatar item-start>
            <img [src]="vote.senderUID.photoURL">
          </ion-avatar>
        </ion-col>

        <ion-col col-10>
          <h2>{{vote.senderUID.displayName}}</h2>
          <h3>Stem uitgebracht</h3>
          <div *ngIf="vote.vote === true">
            <button ion-button round margin-top color="approve">
              Doorgaan met voorstel
            </button>
          </div>
          <div *ngIf="vote.vote === false">
            <button ion-button round margin-top color="against">
              Niet doorgaan met voorstel
            </button>
          </div>
        </ion-col>

      </ion-row>
    </ion-item>

  </ion-item-group>


</ion-grid>





