<!-- Generated template for the InputQuestionComponent component -->
<div class="form" id="input-message">
  <ion-row margin-top>

    <ion-col col-10>
      <ion-list>
        <ion-item id="input-bar">
          <ion-input type="text" placeholder="vraag stellen" [(ngModel)]="message"
                     (keydown.enter)="submit()"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col id="button" col-2>
      <button ion-button icon-center (click)="submit()" text-right align-self-center>
        <ion-icon color="light" name="md-arrow-forward"></ion-icon>
      </button>
    </ion-col>

  </ion-row>

</div>
