input-question {

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid color($colors, bordercolor);
  z-index: 1000 !important;
  background-color: white;

  #button {
    button{
      max-height: 40px;
      border-radius: 100% !important;
      background-color: transparent !important;
      background-image: linear-gradient(to right, color($colors, gradientRed), color($colors, gradientOrange)) !important;
    }
  }

  #input-bar{
    border: 1px solid color($colors, bordercolor);;
    border-radius: 30px !important;
    background-color: color($colors, search);
  }
}
